// Define variables for your color scheme

// Our color scheme
$blue: #337CCF;
$yellow: #FFC436;

$red: #f78183;
$orange: #f8b479;
$green: #33cfab;

$dark-gray: #606060;
$gray: #999988;
$light-gray: #ccc;
$white: #f5f5f5;
$black: rgb(14, 14, 14)
