<div>
  <%= simple_form_for @topic do |f| %>
    <%= f.input :name, label: false, placeholder: 'topic.name'%>
    <%= f.input :description, label: false , placeholder: 'topic.description'%>
    <%= f.button :submit, class: 'btn btn-primary', value: 'update'%>
  <% end %>
</div>
