<div class="container">
  <p> Sample </p>
  <% @sempais.each do |sempai| %>
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title"><%= sempai.nickname %></h5>
        <p class="card-text"><%= sempai.background %></p>
        <%= link_to "see more", sempai_path(sempai.id), class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
