<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h2><strong>Meet Your Recommended <span> Sempai</span></strong></h2>
        <h4>A solution might be a chat or a booking away.</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @sempais.each do |sempai| %>
      <!-- Single Advisor-->
      <div class="col">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <!-- Add the tags here -->
            <!-- Social Info-->
            <%# <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> %>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6><%= sempai.nickname %></h6>
            <p class="designation"><%= sempai.occupation %> / <%= sempai.background %></p>
          </div>
          <%= link_to "see more", sempai_path(sempai.id), class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
