<%# 1. create a simple form for the topic %>
<%# 2. render it from the home page%>
<%# 3. update the tag in the TopicsController#create%>
<%# 4. update the style%>
<div>
  <%= simple_form_for @topic do |f| %>
    <h2> Share a topic </h2>
    <%= f.input :name, label: false, placeholder: 'Visa Concern'%>
    <%= f.input :description, label: false , placeholder: 'I made a mistake about my visa renewal. What should I do?'%>
    <%= f.button :submit, class: 'btn btn-primary', value: 'submit'%>
  <% end %>
</div>
