<%# 1. User needs to see the topic at the top %>
<%# 2. User needs to show the recommended list of 2-3sempai %>
<%# 3. User should be able to edit/update the topic name and description %>
<%# 3.a. Optional - recommended list of sempai updates according to the updated topic %>
<h1> Topic request: <%= @topic.name %> </h1>
<p> <%= @topic.description %> </p>
<%# update with the details of sempais here %>
<%# render what Martin has made %>
<%= render 'matching_sempais', sempais: [@sempais] %>
<p> sample </p>
<%# <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://www.orseu-concours.com/451-615-thickbox/selor-test-de-raisonnement-abstrait-niveau-a.jpg" alt="Company logo">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase"style="font-size:20px;"></i>   Company</li>
        <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>   Role</li>
        <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>   Location</li>
        <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>   Duration</li>
        <li class="list-group-item list-group-item-success"><i class="fa fa-inr"style="font-size:20px;"></i>   Cost</li>
      </ul>
    </div>
    <div class="card-footer">
      <button type="button" class="btn" id="left-panel-link" >Register</button>
      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal1" id="right-panel-link">
        Learn More
      </button>
    </div>
  </div>
  %>
