 <div class="container-fluid">
  <div class="row justify-content-center mb-4">
    <div class="col-10 justify-center p-3">
      <h1>Hello, <%= current_user.nickname %></h1>
    </div>
  </div>

  <div class="d-flex">
    <p>test</p>
      <div class="col-6" id="chat1" style="border-radius: 15px; background-color: white;">
        <div class="justify-content-start m-4">
          <div class="card-category">
            <div class="blob">
              <h3 class="m-1">Your KitaKits Chat</h3>
            </div>
          </div>
          <div class="row pb-5 ps-5 pe-5">
              <%# <div class="col-md-6" id="chat1" style="border-radius: 15px; background-color: white;"> %>
                <%= render 'bookings/chatroom' %>
              <%# </div> %>
          </div>
        </div>
      </div>
    <p>test</p>
      <div class="d-flex col-6">
      <p>test</p>
        <div class="content" id="confirmation" style="border-radius: 15px; background-color: white;">
          <div class="row justify-content-center mb-4">
            <div class="justify-center p-3">
              <div class="card-category">
                <div class="blob">
                  <h3 class="m-1">See your Bookings</h3>
                </div>
              </div>
            </div>
                <div class="row pb-5 ps-5 pe-5 justify-content-center">
                  <% if @booking.time? %>
                  <h3 class="text-center text-black">Confirmed your booking on</h3>
                  <p class="fs-3 text-center"><strong></strong><%= @booking.time.strftime("%m-%d %H:%M") %> </p>
                    <% if @booking.user.web_url.present? %>
                      <%= RQRCode::QRCode.new(@booking.user.web_url).as_svg(module_size: 4).html_safe %>
                    <% end %>
                  <% end %>
                </div>
          </div>
        </div>
      </div>
    <p>test</p>
  </div>
</div>
