<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Your dedicated space to discuss troubles with a sempai</h1>
    <%= render 'topics/topic_form'%>
  </div>
</div>
