<%# Elements needed %>
<%# Nav bar on top or side, transparent %>
<%# content at the bottom explaining 'How it works'%>
<%# Footer including contact, disclaimer for non-claim or suicidal prevention, created by Martin, Sho, Jane, Laurice from Le Wagon Tokyo 1383%>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('background.png') %>);">
  <div class="container">
    <h1>Your dedicated space to discuss your troubles with a sempai</h1>
    <%= render 'topics/topic_form'%>
  </div>
</div>
