  <div>
    <%= simple_form_for(@booking) do |f| %>
    <%= f.error_notification %>
    <div class="form">
      <div class="form-inputs flex-grow-1">
        <div class="form flex-grow-1">
          <%= f.input :time,
          as: :string,
          input_html: { data: { controller: "datepicker" } },
            enableTime: true, label: false, placeholder: 'Start time', class: "form_border"%>
          <div class="form-actions">
            <%= f.button :submit, class: 'btn-primary', value: 'Book' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
