<h1>Sempais::Bookings#index</h1>
<p style="color: red">Find me in app/views/sempais/bookings/index.html.erb</p>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="fw-bold">All Availabilities</h1>
        <div class="calendar-availability">
            <div>
            <%= render "sempais/bookings/new_form", sempais: [@sempais, @topics] %> <%#passing to partial% %>
            </div>
        </div>
    </div>
  </div>
</div>
