.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0.5em;
}

.card-category2 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: normal;
  border-radius: 5px;
  padding: 0.5em;
}

.card-category3 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card {
  margin: 0.4em;
}

.card-container {
  padding: 8px;
  margin: 0.4em 0;
}


.card-text-muted {
  color: lightgrey;
}

.card-title-muted {
  color: lightgray;
}

h5.card-title {
  margin: 16px;
  color: #337CCF;
  font-weight: 600;
}
