.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  height: 80px;
  // padding: 1em;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0 auto;
  max-width: 1200px; /* Adjust the maximum width as needed */

  .footer-brand {
    margin-right: 8px;
  }
}

.footer-social {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;

  a {
    margin: 0 5px;
    i {
      font-size: 20px;
    }
  }
}
