.card-body {
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  padding: 2rem 2rem;
}

.card-body > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container-cards{
  margin: 5rem;
}

.mascot-image img {
  position: absolute;
    margin-top: -400px;
    margin-left: 1100px;
    z-index: 999999;
}

.main-card {
  width: 800px;
}

.card-body1 {
  background-color: #070a57;
  overflow: hidden;
  border-radius: 12px;
}
.card-body1 > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-body1.container-cards {
  margin: 5rem;
}

.card-text1 {
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

.link-cards {
  background-color: white;
}

// tooltip explaining that the sempai is online
// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
// }

// /* Tooltip text */
// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 120px;
//   background-color: black;
//   color: #fff;
//   text-align: center;
//   padding: 5px 0;
//   border-radius: 6px;

//   /* Position the tooltip text - see examples below! */
//   position: absolute;
//   z-index: 1;
// }

// /* Show the tooltip text when you mouse over the tooltip container */
// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }
