.container-frame{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}
.card-conf{
  padding: 20px;
  width: 40rem;
  height: 40rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

  .card-chat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.chat-container{
  height: 100%;
  width: 100%;
  bottom: 0px;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    color: #337CCF;
  }
}
.messages{
  overflow: auto;
  height: 25rem;
}
.chat-form{
  position: sticky;
}
svg{
  align-self: center;
}

.conf-content{
  gap: 4rem;

  .item-3d-icon {
    img {
      margin: -30rem 20rem;
    }
  }
}


.image{
  width: 10rem;

}
