<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <p class="footer-brand-name">Kitakits.me</p>
      <img src="#" alt="logo">
      <p>Martin, Laurice, Jane and Sho with Le Wagon 1383</p>
    </div>

    <div class="footer-nav">
      <a href="/">Home</a>
      <a href="/how-it-works">How it works</a>
      <a href="/our-mission">Our mission</a>
      <a href="/contact">Contact us</a>
      <a href="/privacy">Privacy policy</a>
    </div>

    <div class="footer-social">
          <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
