<footer class="footer">
  <div class="footer-container flex-column">
    <div class="footer-brand">
      <%# <p class="footer-brand-name">Kita-kits.me</p> %>
      <%# <img src="#" alt="logo"> %>
      <p>Kita-kits.me Team with Martin, Laurice, Jane and Sho and Le Wagon Tokyo Team</p>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
